$topic: var(--topic, #ec4141);
$shadow:0px 0px 5px #a3a3a3;
$contentheight:190px;

// 省略一行
@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contenttitle {
  font-weight: 700;
  font-size: 20px;
  position: relative;
  width: fit-content;
  margin-bottom: 10px;
  &::after {
    position: absolute;
    content: "\e743";
    font-family: "iconfont";
    font-weight: 100;
    font-size: 24px;
    right: -25px;
    top: 55%;
    transform: translateY(-50%);
  }
}

.roundtab {
  width: fit-content;
  height: 30px;
  border-radius: 15px;
  border: 1px solid lightgray;
  margin: 0 auto 15px;
  display: flex;
  justify-content: space-between;
  .tabitem {
    width: 75px;
    height: 28px;
    text-align: center;
    border-radius: 14px;
    font-size: 12px;
    line-height: 28px;
    cursor: default;
    &:hover {
      background-color: #f4f4f5;
    }
  }
  .tabitemactive{
    background-color: #bbbbbb;
    color: white;
    pointer-events: none;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 1px;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #e1e1e1;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: white;
}
