@font-face {
  font-family: "iconfont"; /* Project id 2552714 */
  src: url('iconfont.woff2?t=1621235346270') format('woff2'),
       url('iconfont.woff?t=1621235346270') format('woff'),
       url('iconfont.ttf?t=1621235346270') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cloud:before {
  content: "\e609";
}

.icon-music:before {
  content: "\e627";
}

.icon-xin:before {
  content: "\e6e0";
}

.icon-gedan:before {
  content: "\e636";
}

.icon-download:before {
  content: "\e74d";
}

.icon-shoucangxinyuandanyuanwangqingdantuijian:before {
  content: "\e626";
}

.icon-diantai:before {
  content: "\e693";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-close:before {
  content: "\e747";
}

.icon-color:before {
  content: "\e748";
}

.icon-email:before {
  content: "\e74f";
}

.icon-set:before {
  content: "\e76c";
}

.icon-sami-select:before {
  content: "\e7b1";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-microphone:before {
  content: "\e7bf";
}

.icon-square:before {
  content: "\e7d1";
}

.icon-danjuzhuanhuan:before {
  content: "\e7d2";
}

