@font-face {
  font-family: "iconfont"; /* Project id 2552714 */
  src: url('iconfont.woff2?t=1623571488266') format('woff2'),
       url('iconfont.woff?t=1623571488266') format('woff'),
       url('iconfont.ttf?t=1623571488266') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e658";
}

.icon-bianji:before {
  content: "\e604";
}

.icon-lajixiang:before {
  content: "\e602";
}

.icon-i:before {
  content: "\e603";
}

.icon-shoucangjia:before {
  content: "\e687";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-unmaximize:before {
  content: "\e60e";
}

.icon-yinliang:before {
  content: "\e681";
}

.icon-menu-two:before {
  content: "\e601";
}

.icon-bangding:before {
  content: "\e61b";
}

.icon-gouwu:before {
  content: "\e697";
}

.icon-tuichu:before {
  content: "\e74e";
}

.icon-edit_blue:before {
  content: "\e647";
}

.icon-vip:before {
  content: "\e62b";
}

.icon-yonghu:before {
  content: "\e64d";
}

.icon-huizhang:before {
  content: "\e600";
}

.icon-play--filled--alt:before {
  content: "\e60a";
}

.icon-pause--filled:before {
  content: "\e60b";
}

.icon-skip--back--filled:before {
  content: "\e60c";
}

.icon-skip--forward--filled:before {
  content: "\e60d";
}

.icon-suijibofang:before {
  content: "\e6a0";
}

.icon-shunxubofang:before {
  content: "\e6a1";
}

.icon-danquxunhuan:before {
  content: "\e6a2";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a3";
}

.icon-play:before {
  content: "\e664";
}

.icon-cloud:before {
  content: "\e609";
}

.icon-music:before {
  content: "\e627";
}

.icon-xin:before {
  content: "\e6e0";
}

.icon-gedan:before {
  content: "\e636";
}

.icon-download:before {
  content: "\e74d";
}

.icon-shoucangxinyuandanyuanwangqingdantuijian:before {
  content: "\e626";
}

.icon-diantai:before {
  content: "\e693";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-close:before {
  content: "\e747";
}

.icon-color:before {
  content: "\e748";
}

.icon-email:before {
  content: "\e74f";
}

.icon-set:before {
  content: "\e76c";
}

.icon-sami-select:before {
  content: "\e7b1";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-microphone:before {
  content: "\e7bf";
}

.icon-square:before {
  content: "\e7d1";
}

.icon-danjuzhuanhuan:before {
  content: "\e7d2";
}

